# Library/Artifacts/
# Library/Bee/
# Library/BuildInstructions/
# Library/BurstCache/
# Library/Cache/
# Library/Metadata/
# Library/PlayerDataCache/
# Library/PackageCache/
# Library/ScriptAssemblies/
# Library/Search/
# Library/ShaderCache/
# Library/StateCache/
# Library/Temp/
# Library/TempArtifacts/
# Library/UIElements/
# Library/Timeline/
Library/
Logs/
Temp/
UserSettings/
*.userprefs
*.unityproj
Assets/Gril_GreatSword_AnimSet*
Assets/Gril_GreatSword_AnimSet/
#*.DS_StoreAssets/Resources/pl0000.fbx
